@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: Lato;
}
/* Page Scroll*/
body::-webkit-scrollbar{
    width: 9px;
    background-color: #2A2D34;
}

body::-webkit-scrollbar-track {
  margin-top: 6rem;
  background: hsl(0, 0%, 90%);
}

body::-webkit-scrollbar-thumb {
  background-color: #2A2D34;
}

/* Scroll */
html {
    scroll-behavior: smooth;
}